---
title: About
heading: Wedding Service in Phuket
subtitle: "Paul is an event planner and wedding celebrant originally from the UK who has been residing in Phuket for over 10 years, while Supparin is a talented, professionally-trained florist and certified tour guide from Phang Nga, Thailand. So let our Complete Wedding Service & Team in Phuket take care of you. To find out more about us please visit the links below.  To find out more about planning your wedding in Phuket - Please follow the LINK at the bottom of the page. \U0001F530"
---

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
	</div>
</section>
