---
title: Wedding Services Phuket
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">
			Wedding Service Phuket
		</h2>
		<p class="subtext editable">
			Professional Wedding Service in Phuket; We will translate your vision of the perfect wedding into a spectacular event
		</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">
				Wedding Service Partners
			</h3>
			<p class="editable">
				We are a western &amp; Thai owned, full service wedding and event planning company based in Phuket. We are affordable without compromising on elegance &amp; quality as we provide all your Wedding &amp; Event Services in-house.
			</p>
			<p class="editable">
				<a href="/portfolio/">View Full Portfolio &rarr;</a>
			</p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}" /></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/wedding-services-phuket (3).png" width="450" style="margin-bottom: 40px;" /></li>
				<li><img src="{{ site.baseurl }}/images/wedding-services-phuket (1).png" width="300" /></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">
				Your Complete Wedding Service in Phuket
			</h3>
			<p class="editable">
				We are .....Wedding Planners,<br />We provide.....Wedding Flowers,<br />We provide.....Wedding Celebrant Services,<br />We only use......Established Independent Florist Contractors Led by Supparin,<br />We have......Negotiated Single Item Local Vendor Prices,<br />So we have .........Simplified Costing and Quotations.
			</p>
		</div>
	</div>
</section>
